@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-color: rgb(62, 62, 186);
  color: white;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer {
  background-color: rgb(62, 62, 186);
  color: white;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.main-content {
  background-color: aqua;
}

.h1 {
  color: black;
}

